:root[data-theme="theme-dark"] {
    --bg-color: hsl(207, 26%, 17%);
    --elements: hsl(209, 23%, 22%);
    --text: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);
}

:root[data-theme="theme-light"] {
    --bg-color: hsl(0, 0%, 98%);
    --elements: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 30px;
}

@mixin padding {
    padding-left: 100px;
    padding-right: 100px;
}

@mixin mobile-padding {
    padding-left: 30px;
    padding-right: 30px;
}

@mixin radius {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bg-color);
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    @include transition;
    position: relative;
}